logicapp/ShipInstruction-Receiver/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Compose_-_Message_Body": {
                "type": "Compose",
                "inputs": "@triggerOutputs()?['body']?['contentData']",
                "runAfter": {
                    "Initialize_variable_-_Delivery_ID": [
                        "Succeeded"
                    ]
                }
            },
            "Call_Ship_Instruction_Processor": {
                "type": "Workflow",
                "inputs": {
                    "host": {
                        "workflow": {
                            "id": "ShipInstruction-Processor"
                        }
                    },
                    "headers": {
                        "DeliveryId": "@variables('deliveryId')",
                        "DeliveryID": ""
                    },
                    "body": "@outputs('Compose_-_Message_Body')"
                },
                "runAfter": {
                    "Compose_-_Message_Body": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable_-_Delivery_ID": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "deliveryId",
                            "type": "string",
                            "value": "@{string(triggerOutputs()?['body']?['userProperties']?['DeliveryId'])}"
                        }
                    ]
                },
                "runAfter": {},
                "trackedProperties": {
                    "DeliveryId": "@action().inputs.variables[0].value"
                }
            }
        },
        "triggers": {
            "When_messages_are_available_in_a_queue": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "queueName": "ms-la-testing-dev-shipinstruction",
                        "isSessionsEnabled": false
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "receiveQueueMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}